.greater-border {
  border-color: var(--ft-weak-challenger-color);
  border-style: double;
  border-width: 1rem;
}

.lesser-border {
  border-color: var(--ft-weak-challenger-color);
  border-style: double;
  border-width: 0.5rem;
}

.col-md {
  width: 42rem;
}

.col-lg {
  width: 74rem;
}

.hidden {
  overflow: hidden;
  opacity: 0;
  height: 0;
}